<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommunityMapper">
	<!-- 根据id查询一个订单明细表信息 -->
	<select id="selectCommunityById" parameterType="int" resultType="pojo.Community">
		select * from community where communityID = #{communityID}
	</select>
	<select id="selectCommunityByGoodsId" parameterType="int" resultType="pojo.Community">
		select * from community where goodsID = #{goodsID}
	</select>
	    <!--插入数据-->
    <insert id="insertCommunity" parameterType="pojo.Community">
    	insert into community([goodsID],[questionNum],[communityIntro],[tagNum],[tagID])
		values(#{goodsID},#{questionNum},#{communityIntro},#{tagNum},#{tagID});
    </insert>

    <update id="updateCommunity" parameterType="pojo.Community">
        UPDATE community
        <trim prefix="set" suffixOverrides=",">
            <if test="questionNum!=null">[questionNum] = #{questionNum},</if>
            <if test="communityIntro!=null">[communityIntro] = #{communityIntro},</if>
            <if test="tagNum!=null">[tagNum] = #{tagNum},</if>
            <if test="tagID!=null">[tagID] = #{tagID},</if>
        </trim>
        WHERE
        ([communityID] = #{communityID});
    </update>

    <delete id="deleteCommunity" parameterType="int">
        delete from community where [communityID]=#{communityID}
    </delete>
</mapper>